
Skip to content
This repository

    Pull requests
    Issues
    Gist

    @CristiAllan

1
0

    1

CristiAllan/rd
Code
Issues 0
Pull requests 0
Projects 0
Wiki
Pulse
Graphs
Settings
rd/app/views/contacts/_form.html.erb
b2a28bc 5 hours ago
@CristiAllan CristiAllan Registering only one custom, next task is review the each on form
47 lines (37 sloc) 1006 Bytes
<%= form_for(contact) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= 
      f.hidden_field :user_id, value: @user.id
    %>
  </div>
    
    <%= f.fields_for :contact_customs do |cc| %>
      <% @usercustom.each do |custom| %>
        <div class="field">
          <%= cc.hidden_field :custom_id, value: custom.id %>

          <%= cc.label custom.name %>
          <%= cc.text_field :value %>


        </div>
      <% end %>
    <% end %>

     <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

    Contact GitHub API Training Shop Blog About 

    © 2017 GitHub, Inc. Terms Privacy Security Status Help 

